<div class="container">
   <div class="filterBlock row">
      <div class="col col-md-4 col-lg-6"></div>
      <div class="col col-md-8 col-lg-6">
         <div class="text-center card">
            <div class="card-body">
               <form class="">
                  <div class="label-animation  form-group"><input type="text" name="filterKey" id="FilterKey" placeholder="filter artists" value="" class="form-control form-control"><label for="FilterKey" class="font-italic helper-label  form-control-label">filter artists</label></div>
               </form>
            </div>
         </div>
      </div>
   </div>
   <p></p>
   <div id="resultsBlock" class="row">
       {{#each favitems}}
    <div class="favourite col-12 col-md-6 col-lg-4">
          <div class="card">
              <div class="card-body">
                  <div class="row">
                      <div class="col col-sm-4">
                          <img src="{{favitem.artworkUrl100}}" class="img-thumbnail" alt="Card cap">
                          </div>
                          <div class="col col-sm-8">
                              <p class="price text-left text-truncate" title="{{favitem.collectionArtistName}}">{{favitem.collectionArtistName}}</p>
                              <p class="name text-left">{{favitem.currency}} {{favitem.collectionPrice}}</p>
                          </div></div>
                          <div class="card-text text-truncate" title="{{favitem.collectionName}}">{{favitem.collectionName}}</div>
                          <div class="row"><div class="col col-sm-4">
                            <a class="badge badge-primary" href="{{favitem.collectionViewUrl}}" target="_blank">View details</a>
                            </div>
                            <div class="remove-favourites col col-sm-8"><a class="badge badge-danger remove-fav" href="#" id="{{favitem.trackId}}">No more my favourite</a>
                            </div>
                           </div>
                          </div>
                         </div>
                       </div>  
    {{/each}}
   </div>
</div>